.table-shrink{
  margin-bottom:0px !important;
  font-size:.75em;
}

.table{
  margin-bottom:10px;
}

.table-headers{
  margin-bottom:0px;
  width:98%;
}

th{
  border-bottom:none !important;
}

tbody.table-shrink>tr>td{
  border-left:2px solid black;
}

tbody>tr:nth-child(1)>td{
  border-top:none !important;
}

:not(.input) + .input{
  border-top: 2px solid black !important;
}

.contentDiv{
  height:80%;
  overflow-y: scroll;
}

.wrapperRow{
  padding-right: 0px;
}

.totalsDiv{
  height:40%;
  overflow-y: scroll;
}

.vizDiv{
  height:40%;
}

.input>td{
  vertical-align: middle !important;
}

input{
  padding:2px 2px !important;
  font-size:.85em !important;
  width:95% !important;
  height:30px !important;
}

.input-warning{
  background-color:#d50000 !important;
  color:white;
  font-weight: bold;
}

.categoryTitle{
  margin-top:0px;
  margin-bottom:0px;
}

.ui-slider-horizontal.ui-slider-pips{
  margin-bottom:.8em !important;
}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default{
  background-color:#2196f3 !important;
}

.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active{
  background-color:#0069c0 !important;
}

.assumptionRow>h3{
  margin-top:0px !important;
  margin-bottom: 0px !important;
}

.assumptionRow>h4{
  margin-top:0px !important;
  margin-bottom: 0px !important;
}

.assumptionRow>div>.form-group{
  margin-bottom: 3px !important;
  font-size:.9em !important;
}

#assumptionContent>.contentDiv{
  height: 35%;
}
