.table-shrink{
  margin-bottom:0px;
  font-size:.75em;
}

.table-headers{
  margin-bottom:0px;
  width:98%;
}

th{
  border-bottom:none !important;
}

tbody>tr>td{
  border-left:2px solid black;
}

tbody>tr:nth-child(1)>td{
  border-top:none !important;
}

:not(.input) + .input{
  border-top: 2px solid black !important;
}

.contentDiv{
  height:80%;
  overflow-y: scroll;
}

.wrapperRow{
  padding-right: 0px;
}

.totalsDiv{
  height:40%;
  overflow-y: scroll;
}

.vizDiv{
  height:40%;
}

.input>td{
  vertical-align: middle !important;
}

input{
  padding:2px 2px !important;
  font-size:.85em !important;
  width:95% !important;
  height:30px !important;
}

.input-warning{
  background-color:#d50000 !important;
  color:white;
  font-weight: bold;
}

.categoryTitle{
  margin-top:0px;
  margin-bottom:0px;
}
